{% extends 'base.html' %}
{% block main_content %}
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <div class="jumbotron">
                            <h2>Contact</h2>

                            {% if success %}
			                <p class="lead text-success">Thank you for feedback !</p>
		                    {% endif %}
		                    </div>
		

		                    {% for message  in form.name.errors %}
                            <div class="flash">{{ message }}</div>
		                    {% endfor %}

		                    {% for message  in form.email.errors %}
		                    <div class="flash">{{ message }}</div>
		                    {% endfor %}

		                    {% for message  in form.subject.errors %}
		                    <div class="flash">{{ message }}</div>
		                    {% endfor %}

		                    {% for message  in form.message.errors %}
		                    <div class="flash">{{ message }}</div>
		                    {% endfor %}
                    
                    
                        </div>

                        <div class='form'>
                            <form action="{{ url_for('contact') }}" method="POST">
			

                                {{ form.hidden_tag() }}
                    
                                {{ form.name.label() }}
                                {{ form.name(class="form-control pt-4") }}
                    
                                {{ form.email.label(class="pt-4") }}
                                {{ form.email(class="form-control pt-4") }}
                    
                                {{ form.subject.label(class="pt-4") }}
                                {{ form.subject(class="form-control") }}
                    
                                {{ form.message.label(class="pt-4") }}
                                {{ form.message(class="form-control pt-4") }}
                    
                                {{ form.submit(class="btn btn-outline-success ml-1 mt-5") }}
                    
                    
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% endblock main_content %}
       